//
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import 'partials/_variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
header{
    background-color: #fff;
    text-align: center;
    .main-menu{
        list-style: none;
        li {
            display: inline-block;
        }
        a{
            color: $link-color;
        }
    }
}
