main {
    background-image: url('../../img/fondo-pag-speciali.jpg');
    .card-list {
        h1 {
            color: blue;
        }
        .cards {
            flex-wrap:wrap;
            display:flex;
            .card {
                flex-basis: calc(100% / 3 - 40px);
                position: relative;
                margin: 20px;
                transition-duration: 0.3s;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                  flex-basis: calc(100% / 2 - 40px);
                }
                @media screen and (max-width: 400px) {
                    flex-basis: 100%;
                }
                &:hover {
                    .hover {
                        display: block;
                    }
                    img{
                        transform: scale(1.1);
                    }
                }
                img {
                    display: block;
                    width: 100%;
                }
                .hover {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    display: none;
                    a {
                        h3 {
                        padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .prodotto{
        background-color: #b8dae4;
        img{
            width: 100%;
        }
        h2{
            text-align: center;
            color: #002d75;
        }
        p {
            color: #002d75;
            padding: 40px;
        }
    }
}
